<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
  <display-name>Archetype Created Web Application</display-name>
  
  
  <session-config>
  	<!-- 
  		1. Session 在失效之前，可以保持不活跃的时间，单位分钟。
  		2. 若小于0，则 Session 永远不会过期。
  		3. 若不设置，则使用容器的默认值，Tomcat 的默认值为 30 分钟。
  		4. 每次接收到包含会话 ID 的请求时，记录会话不活跃时间的定时器将被重置，超过 30 分钟无请求，则会话失效。
  	-->
  	<session-timeout>30</session-timeout>
		<cookie-config>
			<!-- 自定义会话 cookie 的名字，默认值为 JESSIONID -->
			<name>JSESSIONID</name>
			
			<!-- Domain 属性，使用请求发送的域名，无需设置 -->
			<!-- <domain>satansk.com</domain> -->
			
			<!-- Path 属性，默认使用整个上下文 -->
			<!-- <path>/rest</path> -->
			
			<!-- 将 cookie 限制在浏览器请求中，JavaScript/Flash 等将无法访问 cookie -->
			<http-only>true</http-only>
			
			<!-- Secure 为 true 则只会通过 HTTPS 发送 cookie -->
			<!-- <secure>true</secure> -->
			
			<!-- 
				1. Max-Age 属性定义 cookie 在过期之前需要的时间，单位秒。
				2. 默认 cookie 没有过期时间，即在浏览器关闭时过期（设置为 -1 也是关闭过期）。
				3. 若设置该值，则可能出现在使用过程中出现 cookie 过期、会话追踪失败等情况，最好不设置该属性。
			-->
			<!-- <max-age>18000</max-age> -->
		</cookie-config>
		
		<!-- 
			1. 会话追踪方式，有 COOKIE URL SSL 三种方式。
			2. 只有在 COOKIE 模式下，才能使用 <cookie-config> 标签。	
		-->
		<tracking-mode>COOKIE</tracking-mode>
  </session-config>
</web-app>
